.AA {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button.prop {
  position: relative;
  color: white;
  font-size: 70px;
  background-color: #AAAAAA;
  border: none;
  margin: 3px 1px;
  text-decoration: none;
  cursor: pointer;
}

.wrap {
  position: absolute;
}
