.AA {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button.prop {
  width: 130px;
  height: 130px;
  position: relative;
  color: white;
  font-size: 70px;
  background-color: #666666;
  border: none;
  margin: 3px 1px;
  text-decoration: none;
  cursor: pointer;
}

button.pad {
  margin: 35px;
}

.wrap {
  position: absolute;
}
