.AA {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  color: white;
  font-size: 20px;
  background-color: #AAAAAA;
  border: none;
  margin: 3px 1px;
  text-decoration: none;
}
